# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  AZURE_WEBAPP_NAME: sl-gh-actions-web    # Set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: './SL.GHActions.Web/publish'      # Set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '10.0.x'           # Set this to the dot net version to use
  SOLUTION_PATH: 'SL.GHActions.slnx'
  PUBLISH_DIR: './publish'
  PROJECT_PATH: 'SL.GHActions.Web'
jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Check out the repo
      - uses: actions/checkout@v4
      
      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }} 
          
      - name: Restore
        run: dotnet restore ${{ env.SOLUTION_PATH }}

      - name: Build
        run: dotnet build ${{ env.SOLUTION_PATH }} --configuration Release --no-restore

      - name: Test
        run: dotnet test ${{ env.SOLUTION_PATH }} --configuration Release --no-restore --no-build --verbosity normal

      - name: Publish
        run: dotnet publish ${{ env.PROJECT_PATH }} --configuration Release --no-restore --no-build --property:PublishDir=${{ env.PUBLISH_DIR }}

      - name: Publish Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: webapp
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}